body{
    background-image: url(img/bgimg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    height: 500px;
    margin: auto;
    font-family: Oxygen;
}
.container {
    margin-bottom: 0px;
}

.landing {
    background-image: linear-gradient(#ffffff, #e4e4e4);
    position: relative;
    width: 100%;
    height: 350px;
}

h1 {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}