body{
    background-image: url(https://msuspartans.com/images/2020/4/2/MSU_ZoomBkg1.jpg);
    background-position: left;
    background-attachment: fixed;
    font-family: Oxygen;
}

h2{
    margin: 15px;
}

li {
    margin: 5px;
    font-size: 12pt;
}

a{
    margin-bottom: 20px;
}
a:link{
    color: rgb(37, 37, 37);
}
a:visited{
    color: rgb(37, 37, 37);
}

.container{
    height: auto;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
    max-width: 500px;
    padding: 50px;
    border: 5px solid #bebebe;
}

.class{
    margin: 1px;
    padding: auto;
    border: 5px solid;
}

.class-items{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul{
    list-style-type: circle;
}

.CSE232 {
    padding: 5px; 
    border: #237ccf; 
    background-color: #c7e0f6;
}

.MTH133 {
    padding: 5px;
    border: #8000ca;
    background-color: #eac5ff;
}

.IAH206 {
    padding: 5px; 
    border: #cf232c;
    background-color: #fbc5c7;
}

.PHY183 {
    padding: 5px; 
    border: #ee850c;
    background-color: #ffd7aa;
}

.inside {
    margin: auto;
}